*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Reddit Sans", sans-serif;
  font-weight: lighter;
  background-color: #9b1c31;
  color: white;
  height: 100vh;
}

h1 {
  text-align: center;
  margin: 10;
}

p {
  margin: 0;
}

#description {
  text-align: center;
  font-style: italic;
  font-weight: 100;
}

form {
  background-color: #e74c3c;
  width: 90vw;
  margin: auto;
  max-width: 700px;
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

fieldset {
  border: none;
  border-bottom: #fff solid 1px;
  margin: 0 30px 20px 10px;
}

.comment {
  margin: 20px 30px 20px 30px;
}

fieldset:nth-last-child(2) {
  border-bottom: none;
}

label:not(.request), .cap {
  font-size: 1.2rem;
  display: block;
  margin-bottom: 8px;
}

.cap {
  margin-bottom: 8px;
}

#bio>input, select, textarea {
  margin-bottom: 20px;
  border: none;
  border-radius: 8px;
  outline: none;
  padding: 10px;
  width: 100%;
}

.flex_align>div {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

input[type="radio"], input[type="checkbox"] {
  vertical-align: middle;
  line-height: 1;
}

#submit {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  background: #2ecc71;
  color: white;
  padding: 8px;
  border: none;
  font-weight: bold;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

#submit:hover {
  background-color: #27ae60;
}


/* Mobile devices (portrait and landscape) */
@media only screen and (max-width: 767px) {
  /* Your styles for mobile devices */
  label:not(.request), .cap {
    font-size: 1rem;
    display: block;
    margin-bottom: 5px;
  }

  #bio>input, select, textarea {
    margin-bottom: 15px;
    outline: none;
    padding: 10px;
    width: 100%;
  }
}

/* Tablet devices (portrait and landscape) */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* Your styles for tablet devices */
}

/* Desktop devices (wider than 1024px) */
@media only screen and (min-width: 1024px) {
  /* Your styles for desktop devices */
}